/* Font Import  */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
     
    font-family: 'Poppins', sans-serif;
}

h2{
    font-size: 50px;
}




/*========
 Header part 
 =========== */

.container-full{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

 nav{
     display: flex;
     justify-content: space-between;
     height: 80px;
     align-items:center ;
     margin-bottom: 10%;
    
 }

 .navigation{
     display: flex;

 }

 .navigation  li{
     margin-right: 20px;
     list-style-type: none;
 }

 .navigation li a{
     text-decoration: none;
     font-size: 16px;
     color: black;
     padding: 10px 10px;
 }

 /*==========
  introduction
  ========== */

  .introduction{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      justify-items: end;
      overflow: hidden;
  }

  .introduction:hover .camera{
      transform: scale(1.2);
      transition: transform 2s ease-in-out;
  }

 
.introduction-info{
    margin-top: 60px;
}
 

  .introduction-title p{
      margin-bottom: 20px;
  }

  .introduction-button a{

    text-decoration: none;
    background-color: #E02C6D;
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 41px;

  }

  .introduction-button .fa-arrow-right{
      margin-left: 10px;
  }

  .camera{
    position: absolute;
   
}


/* ===============
   Gallary part
 ============== */

 .gallary{
     display: grid;
     grid-template-columns: repeat(6,1fr);
     border-top: 2px solid rgba(128, 128, 128, 0.651);
     border-bottom: 2px solid rgba(128, 128, 128, 0.651);
     margin: 50px;
     padding: 10px;
    
    
     
 }

 



/* popular collection  */

.popular-title{
    text-align: center;
    margin: 50px 0px;
}

.popular-title h3{

    font-size: 26px;
    border-bottom: 2px solid #E02C6D ;
    display: inline-block;
}



.popular-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;

}

.popular-item{
    width: 329px;
    height: 476px;
    box-shadow: 0 5px 5px -5px #333, -5px 0 5px -5px #333, 5px 0 5px -5px #333; 
    border-radius: 10px; 
    padding: 7px;
}

.popular-item .popular-image img{
    width: 100%;
}

.fa-star.filled{
    color: #FFC014;
}

.fa-star.empty{
    color:#AEAEAE;
}

.popular-paragraph{
    color: rgb(112, 108, 112);
}

#see-more{
    text-align: end;
    margin: 20px;
}

#see-more a{
    background-color: white;
    color: #E02C6D;
   
    
}

  /* ===============
      Contract Part
    ================= */

    .contract-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }

    .contract-form form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text-field{
        font-family: 'Poppins', sans-serif;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
        font-size: 12px;
        font-family: inherit;
        outline: 0;
        border: 1px solid  #E02C6D ;
    }

    .contract-detail{
        margin: 50px;
        padding: 20px;
        border: 2px solid gray;

    }

/*===========
 Footer-part
  ============ */

  

  
  .last-part{
  
    height: 239px;
    width: 100%;
    background: #0A0826;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

 .footer-decoration{
    width: 262px;
    height: 139px;
    margin: 0 auto;

  }

  .footer-detail .footer-title{
      color: white;
      margin-left: 30px;
  }

  .footer-detail .copyright1{
    
    margin-right: 40px;
}

.footer-detail .copyright2{
    
    margin-left: 55px;
}

   .copyright{
      color: #D9DBE1;
  }

  
  .social-icon{
      margin-left: 50px;
  }

  .social-icon a{
      color: wheat;
      font-size: 30px;
      margin-left: 3px;
  }

 /* Media Quaries  */

 /* Mobile Devices  */

 @media only screen and (max-width:687px) {
     main{
         width: 100%;
     }

     .popular-items, .introduction, .contract-items{
         grid-template-columns: 1fr;
     }

     nav{
        flex-direction: column;
        align-items: center;
         
     }
     .navigation{
         flex-direction: column;
         
     }
     .popular-items{
         justify-items: center;
     }

     .introduction-title h2{
         font-size: 30px;
     }

     .introduction-image img{
         margin-top: 10%;
         width: 70%;
         margin-left: 10%;
     }

      .google-map iframe{
         width: 100%;
     }

     .gallary{
         grid-template-columns: repeat(3,1fr);
     }
    
 }


 /* tablet devices  */

@media only screen and (min-width: 687px) and ( max-width: 992px) {

    main{
        width: 100%;
    }

     .introduction{
        grid-template-columns: 1fr;
    }

    .popular-items{
        grid-template-columns: repeat(2,1fr);
    }

    nav{
        flex-direction: column;
        align-items: center;
         
     }
     .navigation{
         flex-direction: column;
         
     }
     .popular-items{
        justify-items: center;
        margin-left: 10%;
    }

    .introduction-info{
        margin-left: 15%;
    }

    .introduction-title h2{
        font-size: 30px;
    }

    .introduction-image img{
        margin-top: 10%;
        width: 65%;
       
        margin-right: 45%;
    }


}

